body{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    display: flex;
    background-color: skyblue;
    justify-content: end;
}

.head{
    background-color: red;
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
